/* ----- General styles ------ */ 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
nav,
main,
footer {
  padding: 0.5rem;
  font-family: "Bellota", sans-serif;
  font-size: larger;
  font-weight: 700;
}

p {
  font-family: "Crimson Text", serif;
}

/* ------ Banner styles ------- */
.banner {
  display: none; /* Initially hidden */
  background-color: rgba(238, 238, 238, 0.7);
  color: #0077b6;
  text-align: center;
  padding: 1rem;
  position: relative;
  border-radius: 11px;
  margin-bottom: 14px;
}

.banner p {
  margin: 0;
  font-size: 1.4rem;
  font-style: normal;
}

.close-banner {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.banner h2 {
  font-family: "Bellota", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #0077b6;
}

/* ------ Header styles ------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0496ff;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

header img {
  border-radius: 3px;
  margin-right: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

/* ------ Join button in the header styles ----- */
.join {
	cursor: pointer;
	font-size: 20px;
}

.join-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #3f37c9;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.join-button:hover {
  background-color: #0077b6;
  color: #FAC6F6;
}

/* ----- Navigation styles ------ */
nav {
  background-color: #0077b6;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  width: 100%; 
}

nav a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 2px;
}

nav a:hover {
  background-color: #0496ff;
  color: #FAC6F6;
}

/* ----- Main content styles ----- */
main {
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns:  1fr;
  gap: 20px;
  padding: 1rem;
}

/* ----- Container for hero image and main card ------ */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem; /* Add padding to create space on the sides */
}

.hero-image {
  width: 100%;
  max-width: 900px;
  gap: 1rem;
  height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 11px;
  transition: transform .5s;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}

.hero-image:hover {
  opacity: .6;
  transform: scale(1.1);
}

.main-card {
  flex: 1;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  max-width: 900px; /* Set a max-width to prevent stretching to the end */
  margin: 0 auto; /* Center the card within the container */
}

.main-card h2,
h3 {
  color: #0077b6;
  margin-top: 0;
}

.main-card p {
  color: #0466c8;
  font-weight: normal;
}

/* ------ Event, weather and company spotlight styles ------- */
#event,
#weather,
.company-spotlights {
  background-color: rgba(238, 238, 238, 0.7);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  text-align: center;
  color: #0077b6;
}

#weather h2,
#eventInfo h2,
.company-spotlights h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #0077b6;
}

.event {
  margin-bottom: 25px;
}

.event h3 {
  font-size: 1.5rem;
  color: #0077b6;
  margin-bottom: 0.5rem;
}

.event ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.event ul li {
  font-size: 1.2rem;
  color: #0466c8;
  margin: 0.3rem 0;
}

.company-spotlights .spotlight .spotlight-link {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #0496ff;
  color: black;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.company-spotlights .spotlight .spotlight-link:hover {
  background-color: #0077b6;
  color: #FAC6F6;
}

.current-events .event p,
.company-spotlights .spotlight p {
  font-size: 1.1rem;
  color: #0466c8;
  margin: 0.5rem 0;
  font-weight: normal;
}

.current-events .event h3,
.company-spotlights .spotlight h3 {
  margin-top: 0;
  font-size: 1.4rem;
  color: #0077b6;
}

/* ------ Container to hold the weather details -----*/
#weather-container {
  display: flex;
  align-items: center; 
  justify-content: center;
}

/* ---- Add some space between the elements ----- */
#current-temp {
  margin-right: 10px;
}

figure {
  display: flex;
  align-items: center; 
  margin: 0; 
}

/* ----- Ensure figcaption doesn't break to a new line ----- */
figure figcaption {
  margin-left: 10px; /* Add some space between the image and the text */
}

/* ------ Newsletter Signup ------- */
 .newsletter-signup {
  background-color: #f4f4f4;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

.newsletter-signup h2 {
  font-size: 1.8rem;
  color: #0077b6;
  margin-top: 0rem;
}

.newsletter-signup p {
  font-size: 1.2rem;
  color: #0466c8;
  margin-top: 0rem;
  line-height: 2rem;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-form label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #0466c8;
  text-align: left;
  width: 100%;
  max-width: 400px;
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.newsletter-form button {
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #0496ff;
  color: black;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #0466c8;
  color: #FAC6F6;
} 

/* AD Container */
.ad-container {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
}

.ad {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 30%;
  flex: 1; /* Prevent flex items from shrinking */
}

.ad img.ad-image {
  max-width: 80%;
  border-radius: 5px;
}

.ad h3 {
  color: #0077b6;
  margin: 10px 0;
}

.ad p {
  color: #0466c8;
  margin: 5px 0;
}

.ad a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0496ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.ad a:hover {
  background-color: #0077b6;
  color: #FAC6F6;
}

/* ------ Discovery Page Styles ------ */
.message {
  color: #0077b6;
}

.purpose h1 {
  color: #0077b6;
}

.purpose p {
  color: #0466c8;
  font-weight: normal;
}

/* ----- Grid layout for the main content ---- */
.discovery-main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* ----- Sidebar styles ------ */
.sidebar {
  background-color: #f0f0f0;
  padding: 1rem;
}

/* ------ Main area styles ----- */
.mainarea {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.mainarea picture {
  margin: 0;
  padding: 0;
}

.mainarea img {
  width: 100%;
  height: auto;
}

.map,
.calendar {
  margin-bottom: 40px; 
}

/* ---- General styles for iframes ----- */
.map-iframe, .calendar-iframe {
  border: none;
  width: 400px;
  height: 500px;
}

.calendar-iframe {
  border: none;
  overflow: hidden; /* To replace the scrolling attribute */
  width: 400px;
  height: 500px;
}

/* ----- Lazy loading image styles ----- */
img[loading="lazy"] {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: black;
  animation: fade 20s;
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* ----- FAQ Section Styles ----- */
.faq {
  margin-top: 40px;
}

.faq-item {
  margin-bottom: 20px;
}

section h2 {
  color: #0077b6;
}

.faq-item h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.faq-item p {
  color: #0466c8; 
  margin-bottom: 10px;
  font-weight: normal;
}

/* ---- Testimonials Section Styles ---- */
.testimonials {
  margin-top: 40px;
}

.testimonials blockquote {
  border-left: 3px solid #0077b6;
  padding-left: 15px;
  margin-bottom: 20px;
}

.testimonials blockquote p {
  font-style: italic;
  color: #0466c8;
  font-weight: normal;
}

.testimonials blockquote footer {
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

/* ----- Join Page Styles ------ */
.join-main {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 3rem;
  margin-top: 0;
}

.join-main h2 {
  color: #0077b6;
  margin: 0;
  text-align: center;
}

#form {
  margin-left: 20px;
  grid-column: 1 / 2; 
}

#form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

#form fieldset {
  font-family: "Crimson Text", serif;
  border: thin solid #666;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 0;
}

#form legend {
  padding: 0 .5rem;
  color: #0077b6;
  font-size: 1.5em;
}

#form label span {
  margin-top: 0;
  display: block;
  margin-bottom: 8px;
}

#form label span:not(#membershipLevelLabel):not(#businessNameLabel):not(#descriptionLabel)::after {
  content: '*';
  color: red;
  margin-left: 0.25rem;
}

#form input[type="text"],
#form input[type="email"],
#form select,
#form textarea,
#form input[type="tel"] {
  background-color: #e3eef3;
  display: block;
  width: 100%;
  max-width: 27rem; 
  padding: 10px;
  border: 1px solid #ccc;;
  border-radius: 5px;
}

#form input:required {
  border-left: solid 2px red;
}

#form input:required:valid {
  border-left: solid 2px green;
}

#form input:focus {
  border-color: orange;
  outline: none;
}

#form textarea:focus {
  border-color: orange;
  outline: none;
}

.submitButton {
  background-color:#3f37c9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 27rem; 
  margin: 1rem 0 2rem 2%;
  margin-top: 0;
  box-shadow: 1px 1px 4px #999;
}

.submitButton:hover {
  background-color: #0496ff;
  color: black;
}
 
/* ------ TABLE ------ */
table {
  width: 100%;
  border-collapse: separate; /* Use 'separate' for border-radius to apply properly */
  margin-bottom: 1rem;
  background-color: rgb(231, 252, 221);
  border-radius: 10px;
  border: 1px solid rgb(220, 236, 212);
  overflow: hidden; /* Ensure the border-radius is applied */
}

caption {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  caption-side: top;
  text-align: center;
  color: #0077b6;
}

thead,
tbody,
tr,
th,
td {
  background-color: rgb(231, 252, 221);
}

th,
td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ccc;
  color: #000000; 
  font-weight: bold;
}

td:first-child,
th:first-child {
  text-align: left;
  width: 15%;
}

thead th:first-child,
tbody td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

thead th:last-child,
tbody td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

th, td {
  padding: 7px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

tbody td:nth-child(1) {
  background-color: white;
  color: #0466c8; 
  font-weight: bold;
}

tbody td:nth-child(2) {
  background-color: rgba(163, 119, 119, 0.2);
  font-weight: bold;
}

#hfirst {
  background-color: rgba(156, 137, 137, 0.9);
  color: black;
  font-weight: bold;
}

tbody td:nth-child(3) {
  background-color: rgba(82, 180, 200, 0.753);
  font-weight: bold;
}

thead tr th:nth-child(3) {
  background-color: rgba(66, 123, 134, 0.9);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

tbody td:nth-child(4) {
  background-color: rgba(135, 157, 247, 0.2);
  font-weight: bold;
}

thead tr th:nth-child(4) {
  background-color: rgba(96, 124, 234, 0.9);
  color: black;
  font-weight: bold;
}

tbody td:nth-child(5) {
  background-color: rgba(178, 231, 65, 0.2);
  font-weight: bold;
}

thead tr th:nth-child(5) {
  background-color: rgba(206, 235, 91, 0.9);
  font-weight: bold;
  color: #000000;
}

#notdisplay{
  background-color: transparent;
  border: none;
}

/* ----- Thank you Page ----- */
.thankyou {
  display: block;
  line-height: 1.6rem;
  width: 90%;
  margin: 0 auto;
  color: #0466c8;
  font-weight: normal;
}

/* Directory Page Styles */
.main-directory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  color: #0077b6;
  text-align: center;
}

#membersCard {
  margin-bottom: 10px;
  display: grid;
  gap: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.view-toggle {
  text-align: right;
  margin-bottom: 20px;
}

.view-toggle button {
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #000000;
  border-radius: 4px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.view-toggle button:hover {
  background-color: #0056b3;
  color: white;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-view .member-card {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
}

.grid-view .member-card img {
  max-width: 80%;
  height: auto;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px #333;
  border-radius: 4px;
}

.list-view {
  display: flex;
  flex-direction: column;
}

.list-view .member-card {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2fr;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
}

.list-view .member-card.even {
  background-color: #d0eaff;
}

.list-view .member-card.odd {
  background-color: #f1f1f1;
}

.list-view .member-card img {
  display: none;
}

.member-card h4 {
  margin: 0;
  color: #0077b6;
}

.member-card p,
.member-card a {
  margin: 0;
  color: #0466c8; 
  align-items: center;
  font-size: 1rem;
}

/* ---- Footer styles ---- */
footer {
  background-color: #0496ff;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.footer-align {
  display: flex;
  justify-content: center;
  align-items: center;     
  gap: 0.5rem;               
}

.footer-align p {
  margin: 0;              
}

.footer-align .text-align {
  display: flex;
  flex-direction: column;  
  align-items: flex-start; 
}

.footer-align img {
  height: auto;
  max-height: 80px;       
}

.footer-align img[alt="logo image"] {
  margin-right: 1rem;     
}

footer p {
  color: white;
  margin: 0.5rem 0;
  font-family: "Bellota";
}

footer img {
  vertical-align: middle; 
  margin-left: 5px; 
  display: inline-block; 
}

hr {
  border: none;
  border-top: 0.5px solid #ffffff5f;
  margin: 1rem 0;
}

.social-handle {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
}

.social-handle a {
  margin: 0 0.5rem;
}

#lastModified {
  color: black;
  font-size: 17px;
}