/* General styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
nav,
main,
footer {
  padding: 0.5rem;
  font-family: "Roboto Slab", serif;
  font-size: larger;
  font-weight: 600;
  font-style: normal;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4b40c2;
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  margin: 0 auto; /* Center the profile div */
}

header img {
  border-radius: 3px;
  margin-right: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.text {
  font-size: 35px;
}

/* Mode button styles */
#mode {
	cursor: pointer;
	font-size: 2rem;
}

/* Navigation styles */
nav {
  background-color: #342d96;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  width: 100%; 
}

nav a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 2px;
}

nav a:hover {
  background-color: #4b40c2;
  color: #FAC6F6;
}

.active {
  background-color:#3f37c9;
  color: white;
}

/* Main content styles */
main {
  max-width: 2048px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr; /* Default for small screens */
  padding: 1rem;
}

.hero {
  width: 100%;
  margin: 0 auto;
  grid-column: 1/3;
  position: relative;
}

.hero picture img {
  margin-top: -10px;
  width: 100%;
	height: 100%;
	object-fit: cover;
}

.temple-name {
  position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.temple-name p {
  margin: 0;
	padding: .15rem;
	font-weight: 700;
	font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
}

h1 {
  text-align: left;
  font-size: 2rem;
  grid-column: 1 / -1;
}

main hr {
  grid-column: 1 / -1;
  margin: 0;
  border: none;
  height: 1px;
  background-color: #434243;
}

/* Card styles */
.card {
  display: grid;
  grid-template-columns: 1fr; 
  margin: 0;
  background-color: #ab99cb;
  border-radius: 11px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.card h2 {
  margin: 0;
  background-color: #4b40c2;
  color: #F6F9FC;
  text-align: center;
  padding: 0.5rem;
  border-radius: 11px 11px 0 0; 
}

.card p {
  text-align: center;
  padding: 0.5rem; 
  margin: 0; 
}

.card ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem; 
}

.card li {
  margin: 0.7rem 0; 
}

.card a {
  color: #121CA5;
  text-decoration: underline;
}

.card a:visited {
  color: #121CA5; 
  text-decoration: underline; 
}

#weatherInfo  {
  padding: 0.1rem;
  margin-top: -5px;
}

#weatherInfo img{
  margin-bottom: -44px;
  margin-left: 20px;
}


.map{
  width: 100%;
  margin: 0 auto;
  grid-column: 1/3;
  grid-row: 5/6;

}
.map iframe {
  width: 100%;
  height: 300px; 
  border: 0;
}

/* Form styles*/
:root {
  --main-text-color: #333;
  --input-border-color: #ccc;
  --input-focus-color: #666;
  --button-bg-color: #007BFF;
  --button-text-color: #fff;
  --button-hover-bg-color: #0056b3;
  --required-asterisk-color: #FF0000;
}

#form {
  margin-left: 20px;
}

#form fieldset {
  font-family: "Roboto Slab", serif;
  border: thin solid #666;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 0;
}

#form legend {
  padding: 0 .5rem;
  color: #445ba9;
  font-size: 1.5em;
}

#form label {
  display: block;
  margin-bottom: 15px;
  display: block;
}

#form label span {
  display: block;
  margin-bottom: 5px;
}

#form label span:not(#rangevalue)::after {
  content: '*';
  color: var(--required-asterisk-color);
  margin-left: 0.25rem;
}

#form input[type="text"],
#form input[type="password"],
#form input[type="email"],
#form input[type="range"] {
  background-color: #e2e2e2;
  display: block;
  width: 100%;
  max-width: 30rem;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  box-sizing: border-box;
}

#form input:required {
  border-left: solid 2px var(--required-asterisk-color);
}

#form input:required:valid {
  border-left: solid 2px green;
}

#form input:focus {
  border-color: var(--input-focus-color);
  outline: none;
}

#rating {
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
  color: var(--main-text-color); 
}

#rangevalues {
	display: flex;
	margin: 0 0 0 15px;
	width: 30rem;
}

#rangevalues option {
	flex: 1 1 auto;
}

.submitBtn {
  background-color:#3f37c9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 30rem;
  margin: 1rem 0 2rem 2%;
  margin-top: 0;
  box-shadow: 1px 1px 4px #999;
}

.submitBtn:hover {
  background-color: #007BFF;
  color: black;
}

#message {
  visibility: visible;
  padding: .5rem;
  color: red;
}



/* Record styles*/
.record p {
  align-items: center;
  font-size: 1rem;
  text-align: left;
  color: #666;
}

.record h2 {
  text-align: center;
  color: #666;;
}

/* Footer styles */
footer {
  background-color: #4b40c2;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0.5rem 0;
}

footer img {
  vertical-align: middle; 
  margin-left: 5px; 
  display: inline-block;
}

#lastModified {
  color: #FFFF97;
  font-size: 17px;
}