/* Form styles*/
:root {
  --main-text-color: #333;
  --input-border-color: #ccc;
  --input-focus-color: #666;
  --button-bg-color: #007BFF;
  --button-text-color: #fff;
  --button-hover-bg-color: #0056b3;
  --required-asterisk-color: #FF0000;
}

#form {
  margin-left: 20px;
}

#form fieldset {
  font-family: "Roboto Slab", serif;
  border: thin solid #666;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 0;
}

#form legend {
  padding: 0 .5rem;
  color: #445ba9;
  font-size: 1.5em;
}

#form label {
  display: block;
  margin-bottom: 15px;
  display: block;
}

#form label span {
  display: block;
  margin-bottom: 5px;
}

#form label span:not(#rangevalue)::after {
  content: '*';
  color: var(--required-asterisk-color);
  margin-left: 0.25rem;
}

#form input[type="text"],
#form input[type="password"],
#form input[type="email"],
#form input[type="range"] {
  background-color: #e2e2e2;
  display: block;
  width: 100%;
  max-width: 30rem;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  box-sizing: border-box;
}

#form input:required {
  border-left: solid 2px var(--required-asterisk-color);
}

#form input:required:valid {
  border-left: solid 2px green;
}

#form input:focus {
  border-color: var(--input-focus-color);
  outline: none;
}

#rating {
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
  color: var(--main-text-color); 
}

#rangevalues {
	display: flex;
	margin: 0 0 0 15px;
	width: 30rem;
}

#rangevalues option {
	flex: 1 1 auto;
}

.submitBtn {
  background-color:#3f37c9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 30rem;
  margin: 1rem 0 2rem 2%;
  margin-top: 0;
  box-shadow: 1px 1px 4px #999;
}

.submitBtn:hover {
  background-color: #007BFF;
  color: black;
}

#message {
  visibility: visible;
  padding: .5rem;
  color: red;
}

/* Record styles*/
.record p {
  align-items: center;
  font-size: 1rem;
  text-align: left;
  color: #666;
}

.record h2 {
  text-align: center;
  color: #666;;
}