@media only screen and (min-width: 1024px) {
  body {
    max-width: 2048px;
    min-width: 1024px;
    margin: 0 auto;
  }

  #menu {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul li {
    width: auto; 
  }

  nav ul li a {
    padding: 1rem;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns, first is twice as wide */
    grid-template-rows: auto auto;
    gap: 1rem;
  }

  .card:first-of-type {
    grid-column: 1 / 2; /* Span only the first column */
    margin-bottom: 0;
  }

  .card:last-of-type {
    grid-column: 2 / 3; /* Span only the second column */
  }

  .card {
    display: grid;
    justify-content: start;
  }
}

/* Media query for small screens */
@media only screen and (max-width: 1023px) {
  #menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: #000;
     position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
  }

  #menu::before{
    content: "≡";
    font-size: 2.5rem;
    font-weight: bold;
  }

  #menu.open::before {
    content: "X";
    font-size: 1.7rem;
    font-weight: bold;
  }

  .navigation {
    display: none; /* Hide the navigation by default */
  }

  #menu.open + .navigation {
    display: block; /* Show the navigation when the menu is open */
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav ul li {
    width: 100%; /* Full width for each list item */
    text-align: center;
    margin: 0;
    padding: 0;
  }

  main {
    display: block; /* Change display to block to stack elements */
  }

  h1 {
    text-align: left;
    font-size: 1.3rem;
  }

  .text {
    font-size: 23px;
  }

  main .card {
    margin-top: 15px;
    margin-bottom: 1rem !important; /* Add spacing between stacked cards */
  }

  main hr {
    width: 100%;
  }
}